<!-- Webmention -->
<p>Vous avez écrit une réponse à ce post ? Faites-moi connaître l'URL : </p>
<form action="https://webmention.herokuapp.com/api/webmention" method="post">
    <input name="source" type="url" placeholder="http://exemple.com/mon-post-cool" />
    <input name="target" value="http://christopheducamp.com{{ page.url }}" type="hidden">
    <input value="Envoyer la Webmention" type="submit">
  </form>

<section class="webmention">
<p>Réactions (webmentions)</p>
<script id="webmention-hosted">
  (function () {
    var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
    url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
    url = url && url[0] ? url[0].href : false;
    sn.type = "text/javascript"; sn.async = true;
    sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
    s.parentNode.insertBefore(sn, s);
  }());
</script>
</section>
<!-- / Webmention -->
